@font-face {
    font-family: Gagalin;
    src: url(fonts/Gagalin-Regular.otf);
}

.v-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: white;
}

header {
    border: 4px solid #090c9b;
    background-color: #09bc8a;
}

footer {
    display: flex;
    border: 3px solid #090c9b;
    background-color: #09bc8a;
    justify-content: flex-end;
}

/* text formatting */

h1 {
    color: #ffffff;
    font-family: Gagalin, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: auto 600%;
    font-weight: 80;
}

h2 {
    color: #000000;
    font-family:"Archivo Black", Arial, Helvetica, sans-serif;
    font-size: 55px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: #ffffff;
    font-family:"Archivo Black", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h4 {
    color: #000000;
    font-family:"Archivo Black", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p {
    color: #000000;
    font-size: 45px;
    margin: 10px;
    font-family:"Archivo Black", Arial, Helvetica, sans-serif;
}

#flip{
    transform: scaleX(-1);
}

/* header */

.header-box {
    margin: 0%;
    width:33.3%;
    height:auto;
    border:4px solid #090c9b; 
    text-align: center; 
    border-top: #09bc8a; 
    border-right: #09bc8a; 
    background-color: #09bc8a;
    text-decoration:none;
}

.header-box:first-of-type{
    margin: 0px;
}

.header-box:last-child {
    border-right: 4px solid #090c9b;
}

.header-box h3 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

/* current webpage */

.label {
    height: auto;
    background-color: #090c9b;
    border: 4px solid #090c9b;
    border-top: 0;
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    border-left: none;
    border-right: none;
}

.labelsmall {
    height: auto;
    background-color: #09bc8a;
    border: 4px solid #090c9b;
    border-top: 0;
    text-align: center;
    width: 98.5%;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    border-left: none;
    border-right: none;
}

.label h3 {
    margin: 0;   
}

/* button for feedback form */

.form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.form-button-container button {
    display: flex;
    width: 40vw;
    height: auto;
    background-color: #09bc8a;
    border: 3px outset;
    border-color: #000000;
    justify-content: space-between; 
    font-size: 3.3vw;
       
}

.form-button-container button::before,.form-button-container button::after {
    content: "";
    width: 350px;
    height: 50px;
    background-image: url(/images/burger.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.form-button-container button:hover {
    background-color: #ffffff;
    border: 3px inset;
    border-color: #09bc8a; 
    cursor: pointer; 
}

.form-button-container button:hover::before, .form-button-container button:hover::after {
    background-image: url(/images/burger_chomped.png);
}

/* input box for form */

.input-box {
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 30px;
    min-height: 2vw;
    min-width: 14vw;
}

/* map formatting */

.google-map {
    padding-bottom: 50%;
    position: relative;
    border: 2px solid #000000;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}