body {
    background-color: white;
}
header {
    border: 3px solid #090c9b;
    background-color: #09bc8a;
}

h1 {
    color: #090c9b;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    
}

