@font-face {
    font-family: Gagalin;
    src: url(fonts/Gagalin-Regular.otf);
}

.v-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: white;
}

header {
    border: 4px solid #090c9b;
    background-color: #09bc8a;

}

footer {
    display: flex;
    border: 3px solid #090c9b;
    background-color: #09bc8a;
    justify-content: flex-end;
}

h1 {
    color: #ffffff;
    font-family: Gagalin, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: 80;
}

h2 {
    color: #000000;
    font-family:"Archivo Black", Arial, Helvetica, sans-serif;
    font-size: 45px;
}

h3 {
    color: #ffffff;
    font-family:"Archivo Black", Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#flip{
    transform: scaleX(-1);
}

.header-box {
    margin: 0%;
    width:33.3%;
    height:55px;
    border:4px solid #090c9b; 
    text-align: center; 
    border-top: #09bc8a; 
    border-right: #09bc8a; 
    background-color: #09bc8a;
    text-decoration:none;
}

.header-box:first-of-type{
    margin: 0px;
}

.header-box:last-child {
    border-right: 4px solid #090c9b;
}

.header-box h3 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.label {
    height: 40px;
    background-color: #09bc8a;
    border: 4px solid #090c9b;
    border-top: 0;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    border-left: none;
    border-right: none;
}

.label h3 {
    margin: 0;   
}